/* ________________________COLORES________________________
primary: #6300ff;
secondary: #b4aeff;
confirmed: #846df0;
dark: #404040;
grey: #6d6d6d; 
*/

.bg-primary-color{
    background-color: #6300ff;
}

.dark-color{
    color:#404040;
}
.primary-color{
    color:#6300ff;;
}
.btn-primary-color{
    background-color: #6300ff;
    color: white;
    border: 2px solid white;
}
.btn-primary-color:hover{
    background-color: white;
    color:  #6300ff;
    border: 2px solid #6300ff;
}

.btn-secondary-color{
    background-color: white;
    color:  #6300ff;
    border: 2px solid #6300ff;
}
.btn-secondary-color:hover{
    background-color: #b4aeff;
    color: #404040;
    border: 2px solid #b4aeff;
}

/*________________________ANIMACION________________________*/

.animacion {
    opacity: 0; 
    animation: fadeIn 1.5s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Estado inicial: completamente transparente */
    }
    to {
        opacity: 1; /* Estado final: completamente visible */
    }
}
/*________________________________________________*/

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#404040;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #404040;
}

a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#6300ff;
}

