/*________________________________PÁGINA_DE_INICIO__________________________*/

.container_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Header*/
.container_header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px;
}

.container_header h1{
    font-weight: bolder;
    font-size: 200%;
    margin: 0;
}

.logo_usuario{
    position: absolute;
    top: 10px;
    right: 30px;
}

.logo_usuario img{
    display: flex;
    justify-content: end;
    height: 40px;
}

.text_lila{
    position: relative;
    color: #6300ff;
    font-weight: bold;
    top: -5px;
}

.text_lila h1{
    font-size: 220%;
}

/*Slider*/

.slider_title{
    position: relative;
    margin-bottom: 0px;
    top: -20px;
}

.slider_content{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: -30px;
}

.imagen_tarjeta{
    margin: 0px 0px 15px 15px;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.slider_button{
    border: none;
    background: none;
}

.slider_buttons{
    position: relative;
    display: flex;
    justify-content: center;
    top: -30px;
}

.boton_left{
    border: none;
    background-color: white;
    color: #b7b7b7;
}
.boton_right{
    border: none;
    background-color: white;
    color: #b7b7b7;
}

.round_button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin: 0 8px 0 8px;
    background-color: #b7b7b7;
    transition: all 0.2s ease-in-out;
}

#btn1{
    background-color: #ffd00d;
}

.round_button:hover{
    background-color: #e0b500;
}


/* menú historial */

.menu_historial{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    top: -30px;
}

.menu_historial_item{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between;
}

.rectangulo_gris{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #b7b7b7;
}

.menu_historial_subitem{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.text_gris{
    color: #b7b7b7;
}

.boton{
    background: none;
    border: none;
    color: #6300ff;
}

/* Iconos inferiores*/

.menu_pages{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px lightgray;
    padding: 10px;  
}

.menu_pages_item img{
    height: 40px;
}

.menu_pages_item_active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_pages_item_active img{
    height: 25px;
}

.yellow_dot{
    height: 5px;
    width: 5px;
    background-color: #ffd00d;
    margin-top: 5px;
}

/* Ajuste de propiedades de los elementos anteriores dependiendo el tamaño de pantalla */

@media screen and (max-width: 576px) {
    .container_header{
        left: -40px;
    }
    .text_lila h1{
        font-size: 120%;
    }
    .logo_usuario{
        left: 120%;
    }
    .slider_content{
        padding: 0px 40px 0px 40px;
        width: 340px;
        left: -20px;
        --tamaño_pantalla:0;
    }
    .imagen_tarjeta{
        height: 150px;
    }
    .boton_left{
        position: relative;
        top: 60px;
        left: -150px;
    }
    .boton_right{
        position: relative;
        top: 60px;
        left: 140px;
    }
    .menu_historial{
        width: 100%;
        left: -40px;
    }
    .menu_pages {
        width: 80%;
    }
}


@media screen and (min-width: 577px) and (max-width: 992px) {
    .container_header{
        left: -70px;
    }
    .text_lila h1{
        font-size: 120%;
    }
    .logo_usuario{
        left: 380px;
    }
    .slider_content{
        padding: 0px 50px 0px 50px;
        width: 400px;
        left: -10px;
        --tamaño_pantalla:1;
    }
    .imagen_tarjeta{
        height: 180px;
    }
    .boton_left{
        position: relative;
        top: 75px;
        left: -160px;
    }
    .boton_right{
        position: relative;
        top: 75px;
        left: 180px;
    }
    .menu_historial{
        width: 120%;
        left: -70px;
    }
    .menu_pages {
        width: 60%; 
    }
}


@media screen and (min-width: 993px) {
    .container_header{
        left: -120px;
    }
    .text_lila h1{
        font-size: 120%;
    }
    .logo_usuario{
        left: 1000%;
    }
    .slider_content{
        padding: 0px 40px 0px 40px;
        width: 450px;
        left: -20px;
        --tamaño_pantalla:2;
    }
    .imagen_tarjeta{
        height: 220px;
    }
    .boton_left{
        position: relative;
        top: 90px;
        left: -210px;
    }
    .boton_right{
        position: relative;
        top: 90px;
        left: 210px;
    }
    .menu_historial{
        width: 180%;
        left: -160px;
    }
    .menu_pages {
        width: 60%;
    }
}
